<app-container>
  <div>
    <h6>FILTRAR POR</h6>
    <div class="form-style-6">
      <form>
        <span class="row">
          <label for="fname">Nome:</label>
          <input type="text" id="search" name="search" [(ngModel)]="search" />
          <label for="fname">Ordenação:</label>
          <select id="orderBy" name="orderBy" [(ngModel)]="orderBy">
            <option value="name">Nome</option>
          </select>
          <label for="fname">Ordem alfabética:</label>
          <select id="sort" name="sort" [(ngModel)]="sort">
            <option value="ASC">Ascendente</option>
            <option value="DESC">Descendente</option>
          </select>
        </span>
        <span class="row">
          <label for="fname">Avaliação mínima:</label>
          <input
            type="number"
            id="minRating"
            name="minRating"
            min="1"
            max="5"
            [(ngModel)]="minRating"
          />
          <label for="fname">Avaliação máxima:</label>
          <input
            type="number"
            id="maxRating"
            name="maxRating"
            min="1"
            max="5"
            [(ngModel)]="maxRating"
          />
          <label for="fname">Disponível:</label>
          <input
            type="checkbox"
            id="isAvailable"
            name="isAvailable"
            [(ngModel)]="isAvailable"
          />
        </span>
        <span class="row">
          <label for="fname">Preço mínimo:</label>
          <input
            type="number"
            id="minPrice"
            name="minPrice"
            [(ngModel)]="minPrice"
          />
          <label for="fname">Preço máximo:</label>
          <input
            type="number"
            id="maxPrice"
            name="maxPrice"
            [(ngModel)]="maxPrice"
          />
          <input (click)="filter()" type="submit" value="Filtrar" />
        </span>
        <!-- <button type="button" (click)="filter()">Filtrar</button> -->
      </form>
    </div>
  </div>

  <app-grid [itens]="equipments"> </app-grid>
</app-container>
